body {
  margin: 0;
}
.page__header {
  padding: 12px 10px;
  border-bottom: 1px solid #666;
}
.page__article {
  padding: 12px 10px;
}
.buttons {
  display: flex;
  margin-top: 24px;
}
.button {
  display: flex;
  align-items: center;
  margin-right: 18px;
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid #888;
  text-align: center;
  cursor: pointer;
}
.button:last-child {
  margin-right: 0;
}
